body {
  background-color: #EEE2DC;

}

h1 {
  color: #123C69;
  text-align: center;
}

h2,h3 {
  color: #AC3B61;
  text-align: left;
}

p {
  color: black;
  font-family: Crimson Text;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #AC3B61;
  overflow: hidden;
  font-family: Crimson Text;
  font-size: 10px; 
}

/* Add Crimson Text Dictionary */

h1 { font-family: "Crimson Text"; font-size: 50px; 
font-style: normal; font-variant: normal; 
font-weight: 400; line-height: 58px; text-align: center; } 
h3 { font-family: "Crimson Text"; font-size: 20px; 
font-style: normal; font-variant: normal; 
font-weight: 700; line-height: 15.4px; } 
p { font-family: "Crimson Text"; font-size: 20px; 
font-style: normal; font-variant: normal; 
font-weight: 400; color: #123C69; line-height: 25px; } 
blockquote { font-family: "Crimson Text"; 
font-size: 21px; font-style: normal; 
font-variant: normal; font-weight: 400; 
line-height: 30px; } 
pre { font-family: "Crimson Text"; font-size: 13px; 
font-style: normal; font-variant: normal; 
font-weight: 400; line-height: 18.5714px; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #123C69;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EDC7B7;
  color: white;
}