/* Add a background color to the top navigation */
.topnav {
	background-color: #AC3B61;
	overflow: hidden;
	font-family: Crimson Text;
	font-size: 10px; 
}
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	position: fixed; /* Make it stick/fixed */
  	width: 100%; /* Full width */
  	transition: top 0.3s; /* Transition effect when sliding down (and up
}
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #123C69;
	color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #EDC7B7;
	color: white;
}
/* CSS for the About page = 3 columns that float next to 
each other */
{
  box-sizing: border-box;
}
.column {
	float: left;
	width: 25%;
	padding: 10px;
	height: 150px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
.twitter-tweet {

	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Add a background to the body of the website */
body {
	background-color: #EEE2DC;
	font-family: "Crimson Text";
}
/* CSS for the image */
img {
	width:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Add Crimson Text Dictionary */
h1 { 
	font-family: "Crimson Text"; font-size: 50px; 
	font-style: normal; font-variant: bold; 
	font-weight: 400; line-height: 58px; text-align: center; color: #123C69; 
	margin-left: 100px;
	margin-right: 100px;
} 
h2 { 
	font-family: "Crimson Text"; font-size: 30px; 
	font-style: normal; font-variant: normal; 
	font-weight: 700; line-height: 15.4px; color: #AC3B61; text-align: center;
}
h3 { 
	font-family: "Crimson Text"; font-size: 20px; 
	font-style: normal; font-variant: normal; 
	font-weight: 700; line-height: 15.4px; text-align: center; 
	color: #AC3B61; 
} 
p { 
	font-family: "Crimson Text"; font-size: 20px; 
	font-style: normal; font-variant: normal; 
	font-weight: 400; color: #123C69; line-height: 25px; margin-left: 250px; 
	margin-right: 250px; text-align: justify; 
} 
blockquote { 
	font-family: "Crimson Text"; 
	font-size: 21px; font-style: normal; 
	font-variant: normal; font-weight: 400; 
	line-height: 30px; 
} 
pre { 
	font-family: "Crimson Text"; font-size: 13px; 
	font-style: normal; font-variant: normal; 
	font-weight: 400; line-height: 18.5714px; 
}
/* Text align center all of the charts */
.chart {
	text-align: center;
}
/* CSS for D3 visualization */
.bar {
            fill: #123C69;
}     
.axis {
            font-size: 16px;
}
.axis path,
.axis line {
            fill: none;
            display: none;
}
        
.label {
            font-size: 16px;
}
.annotation {
	font-size: 16px; 
	text-align: justify;
	margin-left: 250px; 
	margin-right: 250px; 
}
